<ion-header>
  <ion-toolbar>
    <ion-title>Selecciona tu rol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group>
      <ion-item>
        <ion-label>Conductor</ion-label>
        <ion-radio value="conductor"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Pasajero</ion-label>
        <ion-radio value="pasajero"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="full" (click)="guardarRol()">Guardar</ion-button>
</ion-content>
