<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="end">
    <img src="../../assets/img/te_llevo.png" />
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title> Mis Viajes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="!viajes || viajes.length === 0">
    No hay viajes disponibles.
  </div>
  <ion-card *ngFor="let viaje of viajesDelUsuario">
    <ion-card-content >
      <ion-item>
        <ion-label>Partida: </ion-label>
        <p>Duoc Uc sede San Andrés</p>
      </ion-item>
      <ion-item>
        <ion-label>ID Viaje: {{ viaje.uid }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino: {{ viaje.destino }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conductor: {{viaje.conductor.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Monto total: {{ viaje.valorPorPasajero }} </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card> <hr>
  
</ion-content>
