<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="end">
    <img src="../../assets/img/te_llevo.png" />
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title> Mis Viajes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Partida: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conductor: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Monto total: </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Partida: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conductor: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Monto total: </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Partida: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conductor: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Monto total: </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Partida: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conductor: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Monto total: </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Partida: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Destino: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Conductor: </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Monto total: </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>
