<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-avatar slot="end">
      <img src="../../assets/img/te_llevo.png" />
    </ion-avatar>
    <ion-title> Te llevo </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="updateSuggestions()" Placeholder="Donde Te Llevo?"></ion-searchbar>

  <ion-list *ngIf="showSuggestions">
    <ion-item *ngFor="let suggestion of filteredSuggestions" (click)="selectSuggestion(suggestion)">
      {{ suggestion }}
    </ion-item>
    <ion-item *ngIf="showNoResults">No hay resultados</ion-item>
  </ion-list>

  <div id="page-background" class="ion-align-items-center">
    <div class="ion-padding" *ngFor="let viaje of (viajes | async)">
      <ion-list [inset]="true">
        <ion-item [button]="true" detail="false" (click)="Viajeseleccionado(viaje)">
          <div class="unread-indicator-wrapper" slot="start"></div>
          <ion-label>
            <ion-text>Destino: {{viaje.destino}}</ion-text><br/><br>
            <ion-text>Precio por Pasajero:  ${{viaje.valorPorPasajero}}</ion-text><br/><br>
            <ion-text>Asientos Disponibles: {{viaje.asientos}}</ion-text><br/>
          </ion-label>
        </ion-item>
      </ion-list>
  </div>
  <!-- <ion-button  (click)="onClick('detalle-viaje')" expand="block" color="primary">
    Solicitar
  </ion-button> -->
  </div>
</ion-content>