ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.custom-button-style {
  cursor: pointer; /* Cambia el cursor al estilo de puntero al pasar el mouse. */
  background-color: #007bff; /* Color de fondo del "botón". */
  color: white; /* Color del texto en el "botón". */
  padding: 8px 16px; /* Espaciado interno para simular un botón. */
  border: none; /* Quita el borde del "botón". */
  border-radius: 4px; /* Añade esquinas redondeadas al "botón". */
  text-align: center;
}

.custom-button-style:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse por encima. */
}