<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="end">
    <img src="../../assets/img/te_llevo.png" />
    </ion-avatar>
    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/folder/inbox"></ion-back-button>-->
    </ion-buttons>
    <ion-title> Mi Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
  <ion-list lines="none">
    <!-- Foto de perfil -->
    <ion-item class="ion-item-space" >
      <ion-avatar slot="start">
        <ion-icon name="person-outline" ></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Foto de perfil</h2>
      </ion-label>
    </ion-item>
  
    <!-- Nombre -->
    <ion-item class="ion-item-space">
      <ion-label>
        <h2>Nombre</h2>
        <p>{{ utilsSvc.getFromLocalStorage('name') }}</p>
      </ion-label>
    </ion-item>
  
    <!-- Apellido -->
    
    <ion-item class="ion-item-space">
      <ion-label>
        <h2>Apellido</h2>
        <p>{{ utilsSvc.getFromLocalStorage('apellido') }}</p>
      </ion-label>
    </ion-item>
  
    <!-- Numero de Teléfono -->
    <ion-item class="ion-item-space">
      <ion-label>
        <h2>Numero de Teléfono</h2>
        <p>{{ utilsSvc.getFromLocalStorage('telefono') }}</p>
      </ion-label>
    </ion-item>
  
    <!-- Correo Electronico -->
    <ion-item class="ion-item-space">
      <ion-label>
        <h2>Correo Electronico</h2>
        <p>{{ utilsSvc.getFromLocalStorage('email') }}</p>
      </ion-label>
    </ion-item>
  
    <!-- Vehiculo -->
    <ion-item class="ion-item-space">
      <ion-label>
        <h2>Rol</h2>
        <p>{{ utilsSvc.getFromLocalStorage('rol') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
  
</ion-content>