<app-encabezado titulo="Detalle del viaje"></app-encabezado>

<ion-content>
  <br>
  <div class="ion-padding">
  <ion-list lines="none">
    <ion-item>
      <ion-label>
        <h2>Destino</h2>
        <p>Comienzo: </p>
        <p>Destino: </p>
        <p>Conductor: </p>
        <p>Vehiculo: </p>
        <p>Cantidad max. de pasajeros: </p>
        <p>Asientos ocupados: </p>
        <p>Precio: </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
  <div class="ion-padding">
    <ion-button expand="full" (click)="onClick('pago')">Confirmar</ion-button>
  </div>
</ion-content>

