<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="end">
      <img src="../../assets/img/te_llevo.png" />
    </ion-avatar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder/inbox"></ion-back-button>
    </ion-buttons>
    <ion-title> Viaje Conductor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="viajeform" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-input formControlName="destino" type="text">Destino</ion-input>
      </ion-item>
      <br>

      <ion-item>
        <br><br>  
        <ion-datetime formControlName="fechaHora" displayFormat="MM/DD/YYYY HH:mm">Fecha y Hora</ion-datetime>
      </ion-item>
      <br>
      <ion-item>
        <ion-input formControlName="valorPorPasajero" type="number">Valor por Pasajero</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="asientos" type="number">Asientos Disponibles</ion-input>
      </ion-item>
      
    </ion-list>
    <br>

    <ion-button expand="full" type="submit">Establecer Ruta</ion-button>
  </form>

</ion-content>
