<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="end">
    <img src="../../assets/img/te_llevo.png" />
    </ion-avatar>
    <ion-title> Te llevo App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<h3>Iniciar Sesión</h3>
<form  [formGroup]="loginForm"  >
  <ion-item>
    <ion-input  formControlName="email" labelPlacement="floating" label="Email"  type="email" aria-label="email" ></ion-input>
    <ion-icon name="mail-outline" slot="end"></ion-icon>
  </ion-item>
  <div class="validators" *ngIf="loginForm && loginForm.get('email')?.errors && loginForm.get('email')?.touched">
    <div *ngIf="loginForm.get('email')?.hasError('required')">El email es obligatorio</div>
    <div *ngIf="loginForm.get('email')?.hasError('email')">El email no es válido</div>
  </div>
  <br>
  <ion-item >
  <ion-input  formControlName="password" labelPlacement="floating" label="Password" [type]="showPassword ? 'text' : 'password'" 
    aria-label="password"></ion-input>
    <ion-icon name="lock-closed-outline"slot="end" (click)="togglePasswordVisibility()"[name]="showPassword ? 'eye-outline' : 'eye-off-outline'" ></ion-icon>
  </ion-item>
  <div class="validators" *ngIf="loginForm && loginForm.get('password')?.errors && loginForm.get('password')?.touched">
    <div *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria</div>
    <div *ngIf="loginForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</div>
  </div>
  <br>
  <ion-button  (click)="onsubmit()" expand="full" color="primary" type="submit" class="ion-padding" [disabled]="loginForm.invalid" >
    Entrar
  </ion-button>
</form>
<p style="text-align: center;">
  ¿No tienes una cuenta? <a (click)="navegarARegistro()">Registrarse</a>
</p>
<p style="text-align: center;">
  ¿Olvidaste tu contraseña? <a (click)="navegarARecuperar()">Recuperar</a>
</p>
</ion-content>
