<app-encabezado titulo="Pago"></app-encabezado>

<ion-content>
  <div class="ion-padding">
    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <h2>Pago</h2>
          <p>Comienzo: </p>
          <p>Destino: </p>
          <p>Cantidad de pasajeros: </p>
          <p>Precio Total: </p>
        </ion-label>
      </ion-item>
    </ion-list>
</div>
  <div class="ion-padding">
  <ion-button expand="full" (click)="onClick('folder/inbox')">Confirmar pago</ion-button>
</div>
</ion-content>
