<app-encabezado titulo="Recuperar clave"></app-encabezado>

<ion-content class="ion-padding">
  <h3>Recuperar Contraseña</h3>
  <form [formGroup]="loginForm"  >
    <ion-item>
      <ion-input  formControlName="email" labelPlacement="floating" label="Email"  type="Email" aria-label="Email" ></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <div class="validators" *ngIf="loginForm && loginForm.get('email')?.errors && loginForm.get('email')?.touched">
      <div *ngIf="loginForm.get('email')?.hasError('required')">El email es obligatorio</div>
      <div *ngIf="loginForm.get('email')?.hasError('email')">El email no es válido</div>
    </div>
    <br>
    <ion-button  (click)="onsubmit()" expand="full" color="primary" type="submit" class="ion-padding" [disabled]="loginForm.invalid" >
      Recuperar
    </ion-button>
  </form>
  
</ion-content>