<app-encabezado titulo="Registrarse"></app-encabezado>

<ion-content class="ion-padding">
  <h3>Registro de Usuario</h3>
  <form [formGroup]="loginForm"  >
    <ion-item>
      <ion-input  formControlName="name" labelPlacement="floating" label="Nombre de Usuario"  type="text" aria-label="Nombre de Usuario" ></ion-input>
      <ion-icon name="person-outline" slot="end"></ion-icon>
    </ion-item>
    <div class="validators" *ngIf="loginForm && loginForm.get('name')?.errors && loginForm.get('name')?.touched">
      <div *ngIf="loginForm.get('name')?.hasError('required')">El nombre de usuario es obligatorio</div>
      <div *ngIf="loginForm.get('name')?.hasError('minlength')">El nombre de usuario debe tener al menos 6 caracteres</div>
    </div>
    <br>
    <ion-item>
      <ion-input  formControlName="apellido" labelPlacement="floating" label="apellido"  type="text" aria-label="Apeliido de Usuario" ></ion-input>
      <ion-icon name="person-outline" slot="end"></ion-icon>
    </ion-item>
    <div class="validators" *ngIf="loginForm && loginForm.get('name')?.errors && loginForm.get('name')?.touched">
      <div *ngIf="loginForm.get('apellido')?.hasError('required')">El Apellido de usuario es obligatorio</div>
      <div *ngIf="loginForm.get('apellido')?.hasError('minlength')">El Apellido de usuario debe tener al menos 4 caracteres</div>
    </div>
    <br>
    <ion-item>
      <ion-input  formControlName="telefono" labelPlacement="floating" label="Teléfono" type="tel" aria-label="teléfono" inputmode="tel" pattern="^\+569\d{8}$"
        placeholder="+569 12345678"></ion-input> 
      <ion-icon name="call-outline" slot="end"></ion-icon>
    </ion-item>
  <div class="validators" *ngIf="loginForm.get('telefono')?.errors && loginForm.get('telefono')?.touched">
    <div *ngIf="loginForm.get('telefono')?.hasError('pattern')">El teléfono debe tener el formato correcto.</div>
  </div>
  <br>
    <ion-item>
      <ion-input  formControlName="email" labelPlacement="floating" label="email"  type="email" aria-label="email" ></ion-input>
      <ion-icon name="mail-outline"></ion-icon>
    </ion-item>
    <div class="validators" *ngIf="loginForm && loginForm.get('email')?.errors && loginForm.get('email')?.touched">
      <div *ngIf="loginForm.get('email')?.hasError('required')">El email es obligatoria</div>
      <div *ngIf="loginForm.get('email')?.hasError('email')">El email es inválido</div>
    </div>
    <br>
    <ion-item>
      <ion-input formControlName="password" labelPlacement="floating" label="Password"  type="password" aria-label="password"></ion-input>
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-item>
    <div class="validators" *ngIf="loginForm && loginForm.get('password')?.errors && loginForm.get('password')?.touched">
      <div *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria</div>
      <div *ngIf="loginForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 4 caracteres</div>
    </div>
    <ion-button  (click)="onsubmit();" expand="full" color="primary" type="submit" class="ion-padding" [disabled]="loginForm.invalid" >
      Registrarse
    </ion-button>
  </form>
  
</ion-content>